---
import { baseUrl } from "../utils/baseUrl";
const { post } = Astro.props;
---

<li>
  <a href={`${baseUrl}/posts/${post.id}`}>
    <article class="card">
      <h2>{post.data.title}</h2>
      <time datetime={post.data.pubDate.toISOString()}>
        {
          post.data.pubDate.toLocaleDateString("sv-SE", {
            dateStyle: "short",
          })
        }
      </time>
      <p class="card-description">{post.data.description}</p>
    </article>
  </a>
</li>

<style>
  a {
    text-decoration: none;
  }
  .card {
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .card-description {
    font-family: "Georgia", serif;
    font-size: 1.2rem;
  }
</style>
