---
import Layout from "./Layout.astro";
import { baseUrl } from "../utils/baseUrl";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="reading-content">
    <aside>
      <time datetime={frontmatter.pubDate.toISOString()}>
        {
          frontmatter.pubDate.toLocaleDateString("en-US", {
            dateStyle: "long",
          })
        }
      </time>
      <div class="tags">
        {
          frontmatter.tags.map((tag: string) => (
            <p class="tag">
              <a href={`${baseUrl}/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </aside>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <h2>{frontmatter.title}</h2>
    <slot />
  </main>
</Layout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 4px 8px;
    font-size: 0.9em;
    color: var(--fg-color);
    background-color: oklch(from var(--bg-color) calc(l * 1.2) calc(c * 0.9) h);
  }
  h2 {
    margin-block: 0;
  }
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem 1rem;
  }
  time {
    font-size: 0.9rem;
    font-family: monospace;
    border: 1px solid var(--fg-color);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    width: fit-content;
  }
</style>
